:root {
    --font-family: 'IBM Plex Mono', monospace;
    --font-size: 18px;
    --line-height: 23.4px;  
    --text-weight: 400px;
    --article-text-weight: 700px;
    --page-padding-min: 10px;
    --page-padding-max: 20px;   
}